* {
    color: white;
    background-color: black;
    text-align: center;
  }

#no-order {
  list-style-position: inside;
}

#ordered {
  list-style-position: inside;
}

p {
    color: red;
  }

.foot {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
  }

h3 {
    font-style: italic;
  }
