* {
    color: white;
    background-color: black;
    text-align: center;
  }

  .fonts {
    font-family: Arial, Helvetica, sans-serif;
  }

#no-order {
  list-style-position: inside;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ordered {
  list-style-position: inside;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: red;
  }

.foot {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: bold;
  }

h3 {
    font-style: italic;
  }
